<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatPresetTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ChatPresetToolDotNetFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatPresetTool.Properties.Settings>
            <setting name="TextInput" serializeAs="String">
                <value>Minecraftチャット便利ツールを使ってみよう

①Minecraftを開き、GUIを開いてない状態でF12を押します
②Enterを押して送信します

※[↓]ボタンを押すと過去に送信した発言を復元できます
※ここを右クリックすると便利なオプション機能があります</value>
            </setting>
            <setting name="AutoSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommentOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoogleCredentialPath" serializeAs="String">
                <value />
            </setting>
        </ChatPresetTool.Properties.Settings>
        <ChatPresetToolDotNetFramework.Properties.Settings>
            <setting name="TextInput" serializeAs="String">
                <value>Minecraftチャット便利ツールを使ってみよう

①Minecraftを開き、GUIを開いてない状態でF12を押します
②Enterを押して送信します

※[↓]ボタンを押せば復元できます</value>
            </setting>
            <setting name="AutoSend" serializeAs="String">
                <value>False</value>
            </setting>
        </ChatPresetToolDotNetFramework.Properties.Settings>
    </userSettings>
</configuration>